.head{
    position:sticky;
    top: 0px;
    width: 100%;
    background-color: aqua;
    margin: 20px;}

.phone{
    border-style: solid;
    width: 400px;
    border-radius: 10px;
    padding: 50px;
    background-color:blue;
    margin: 20px ;
}
.watch{
    border-style: solid;
    width: 400px;
    border-radius: 10px;
    padding: 50px;
    background-color:red;
    margin: 20px;

}
#last{
    border-style: dotted;
    border-radius: 40px;
    width: 10%;
    background-color: green;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;

}

    
    


