.head{
    border: hidden;
    box-shadow: 3px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    align-items: baseline;
    
    
    
}
#head1{
    padding-left: 10px;
}
#head2{
    padding-left: 60px;
}
#head3{
    padding-left: 750px;

}
#head3 button{
    padding: 5px;
}
#body{
    display: flex;
    justify-content: space-between;
    border: hidden;
    box-shadow: 5px;
}
.body1{
    border: 100%;
    border-style: hidden;
    border-top: solid;
    border-width: 1px;
    border-bottom: solid;
    border-width: 1px;
    display: flex;

}
#body1a{
    display: flex;
    padding-left: 50px;
}
#body1b{
    padding-top: 50px;
    padding-right: 20px;
    color: orange;
    font-size: 40px;
}
#body1d{
    display: flex;
    padding-left: 250px;
}
#body1d1{
    padding-top: 50px;
    color: orange;
    font-size: 40px;
}
#body1d2{
    padding-left: 20px;
}
#body1e{
    padding-left: 300px;
    display: flex;
}
#body1e1{
    padding-top: 50px;
    padding-right: 20px;
    color: orange;
    font-size: 40px;
}
#body2{
    border-style: hidden;
    text-align: center;
    padding: 5px;


}
.bodyy{
    border-style: hidden;
    box-shadow: 5px;
    background-color: whitesmoke;
    margin-top: 30px;
}
#tech{
    border:hidden;
    border-bottom: solid;
    background-color: whitesmoke;
    border-width: 1px;
    display: flex;
    margin-top: 20px;
}
#tech1{
    padding-left: 40px;
    padding-top: 20px;

}
#tech h3{
padding-left: 30px;
}
#tech1a{
padding-left: 150px;
}
#graphimg{
    border: hidden;
    border-top: solid;
    border-width: 1px;
    border-bottom: solid;
    border-width: 1px;

}
